// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin text($size:null, $color:null, $font-weight:null, $l-spacing:null) {
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
  letter-spacing: $l-spacing;
}
