.result {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .spaceContent {
    width: 100vw;
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .spaceImage {
      width: 100vw;
      opacity: .9;
    }
  }
  .spaceText {
    width: 85vw;
    margin: 2%;
    text-align: center;
  }
  .artContent {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80vh;
    bottom: 27%;
    overflow: hidden;

    z-index: 1;
    .artItem {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 13vw;
      .artImage {
        width: 100%;
        border-radius: 50%;
        opacity: .7;
      }
      .artText {
        margin-top: 2%;
        color: white;
        z-index: 1;
        text-align: center;
      }
    }
  }
}
