// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 100vh;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 30px;
      // &:focus {
      //   border: darkcyan !important;
      //   outline: none;
      // }
    }
  }
}

.searchHeader {
  height: 20vh !important;
  transition: all 1s ease-in-out;
}
