// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'disco';
  transition: all 1s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

.header h1 {
  -webkit-animation: headerColor 3s ease-in-out infinite alternate;
}

.spaceText h3 {
  font-family: 'liberation';
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-weight: bolder;
}


@-webkit-keyframes headerColor {
  0% {
  //  border-radius: 0 0 0 0;
   color: salmon;

 }
 25% {
  //  border-radius: 50% 0 0 0;
   color: #99ccff;

 }
 50% {
  //  border-radius: 50% 50% 0 0;
   color: #99ffe6;

 }
 75% {
  //  border-radius: 50% 50% 50% 0;
   color: #ffb399;

 }
 100% {
  //  border-radius: 50%;
   color: #9999ff;

 }
}
