/**
 * Basic typography style for copy text
 */


 @font-face {
   font-family: 'disco';
   src: url("../../fonts/DISCO___.ttf");
 }

 @font-face {
   font-family: 'liberation';
   src: url('../../fonts/LiberationMono-Regular.ttf');
 }
